button {
  margin-top: 1rem;
}

div {
  margin-top: 1rem;
}

#check-focus-here {
  border: 2px solid;
  padding: 8px;
  margin: 8px;
}

.parent {
  background: white
}

.parent:focus-within {
  background: red
}

.parent:focus-within button:not(:focus) {
  opacity: .5
}